<header>
    <h1><a href="/">Unity_Blogs</a></h1>
    <nav>
        <a href="/">Home</a>
        <a href="/blogs">Blogs</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/blogs/create" id="newblog">New Blog</a>
    </nav>
</header>