<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %> 

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="content notfound" style="text-align: center;">
        <h1>404 - Oops! ☹</h1>
        <h3>The content you requested wasn't found in our server.</h3>
    </div>
    
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>