<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="content about">
                <h1>About Unity</h1>
                <p>Welcome to our Unity software development company! We are a team of passionate developers who strive
                    to provide high-quality software solutions to our clients. Our company specializes in developing
                    custom software applications that are tailored to meet the unique needs of our clients.</p>
                <br/>
                <p>We believe that every project is unique, and we take a personalized approach to each one. We work
                    closely with our clients to understand their requirements and develop solutions that meet their
                    specific needs. Our team has extensive experience in developing software applications for various
                    industries, including healthcare, finance, and education.</p>
                    <br/>
                <p>We are committed to delivering projects on time and within budget. We use the latest technologies and
                    best practices in software development to ensure that our solutions are efficient, scalable, and
                    secure. Our team is dedicated to providing exceptional customer service and support throughout the
                    entire development process.</p>
                    <br/>
                <p>At our company, we value collaboration, innovation, and excellence. We are always looking for new
                    challenges and opportunities to grow and improve. If you are looking for a reliable software
                    development partner, we would be happy to discuss your project with you. Contact us today to learn
                    more about our services..</p>
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>