<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="content contact">
        <h1>Contact page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eveniet voluptates molestiae debitis quos!
            Aperiam
            facere laudantium qui culpa aspernatur sed perspiciatis veritatis autem, quam, reiciendis ullam fugiat.
            Rerum,
            perferendis.</p>
        <p>Inventore modi non dicta veniam nostrum laborum adipisci provident tempora, explicabo nesciunt doloribus
            autem
            recusandae earum quam enim! Doloribus mollitia voluptates perspiciatis delectus qui sit expedita vitae.
            Asperiores, maxime ipsum.</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>