<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
    
    <%- include('./partials/nav.ejs') %>
    
    <div class="content home">

        <div id="main">
            <h3>Welcome to</h3>
            <h1>Unity Blogs</h1>
            <p>Uncover the world of insightful content on our Blogs Website.<br/> Join us today!</p>
        </div>
        <img src="/unity.png" alt="mainlogo">
        <img src="" alt="">
    </div>
    
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>